/* Order */
.order_mainContainer {
    display: flex;
    padding: 40px;
    background-color: #F5F5F5;
    margin-top: 100px;
}

.filters_wrapper {
    width: 100%;
    max-width: 375px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    padding: 25px 0;
}
.filter_title{
    font-size: 22px;
    font-family: AxiformaMedium;
    color: var(--textDard);
    padding: 0 25px;
    margin-bottom: 20px;
}
.search_form{
    padding: 0 25px;
    margin: 50px 0 70px;
}
.filter_label{
    font-size: 18px;
    font-family: AxiformaRegular;
    color: var(--textDard);
}
.filter_inputWrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 5px;
}
.filter_input{
    width: 100%;
    max-width: 332px;
    height: 44px;
    border: 1px solid #9d9d9d;
    padding: 20px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-family: AxiformaRegular;
}
.filter_input::placeholder{
    color: var(--inputColor);
}
.filter_input:focus{
    border-color: var(--primaryColor);
}
.filter_button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--primaryColor);
    color: var(--textLight);
    border: none;
    font-family: AxiformaRegular;
    font-size: 18px;
    margin-top: 20px;
}