/* Order */

.order_mainContainer {
    display: flex;
    flex-direction: column;
    padding: 35px;
    background-color: #F5F5F5;
    margin-top: 100px;
    
}
.main_container{
    display: flex;
    width: 100%;
    gap: 20px;
}
.content_wrapper{
    width: 100%;
}
.title {
    font-size: 26px;
    text-align: center;
    font-family: AxiformaRegular;
    color: var(--textDard);
}
.head{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}
.actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    width: 100%;
}
.fileName{
    position: absolute;
    font-size: 11px;
    font-family: AxiformaRegular;
}
.button_import{
    width: 100%;
    cursor: pointer;
    padding: 10px 20px;
    background: var(--textLight);
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    font-size: 14px;
    font-family: AxiformaRegular;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 170px;
}
.orderList{
    margin-top: 25px;
}
.filters_wrapper {
    width: 100%;
    max-width: 375px;
    min-width: 375px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    padding: 25px 0;
    margin-top: 65px;
    height: max-content;
}
.filter_title{
    font-size: 20px;
    font-family: AxiformaRegular;
    color: var(--textDard);
    padding: 0 25px;
    margin-bottom: 20px;
}
.search_form{
    padding: 0 25px;
    margin: 50px 0 70px;
}
.input_field{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #9d9d9d;
    border-bottom: none;
}
.input_icons{
    position: absolute;
    top: 14px;
    left: 10px;
}
.input_icons svg{
    height: 15px;
}
.filter_label{
    font-size: 16px;
    font-family: AxiformaLight;
    color: var(--textDard);
}
.filter_inputWrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 5px;
}
.filter_input{
    width: 100%;
    max-width: 332px;
    height: 44px;   
    border: 1px solid #9d9d9d !important;
    padding: 4px 0 0px 20px;
    border-radius: 5px;
    font-size: 16px!important;
    font-family: AxiformaRegular !important;
}
.filter_input::placeholder{
    color: var(--inputColor);
}
.filter_input:focus{
    border-color: var(--primaryColor);
}
.filter_button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--primaryColor);
    color: var(--textLight);
    border: none;
    font-family: AxiformaRegular;
    font-size: 18px;
    margin-top: 20px;
}

/* Modal  */
.sections_edit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_container_edit {
    max-width: 700px;
    flex-direction: column;
    padding: 70px 40px;
    width: 90%;
    margin: auto;
}
.modelBox {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow-y: scroll;
    height: auto;
    max-height: 90vh;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 750px;
    border-radius: 15px;
    background-color: var(--textLight);
    padding: 4px;
}
.modelBox::-webkit-scrollbar {
    display: none;
}
.closeBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}
.col_btn {
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    background-color: var(--primaryColor);
    color: var(--textLight);
    font-family: AxiformaRegular;
    font-size: 14px;
    width: 100%;
    max-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
}

.details{
    margin-top: 20px;
}
.detail_box{
    display: flex;
    width: 50%;
}
.detail_wrapper{
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid var(--inputColor);
}
.detail_box > *{
    width: 50%;
}
.detail_title{
    font-size: 15px;
    color: var(--textDard);
    font-family: AxiformaRegular;
}
.detail_value{
    font-size: 14px;
    color: var(--textDard);
    font-family: AxiformaLight;
}
.input_container{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.input_label{
    font-size: 17px;
    font-family: AxiformaMedium;
    color: var(--textDard);
    margin-right: 20px;
}
.input_btn{
    height: 40px;
    font-size: 16px;
    background-color: var(--primaryColor);
    color: var(--textLight);
    font-family: AxiformaRegular;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.input_btn:disabled {
    background-color: #dedede;
    cursor: none;
    color: #d3d3d3;
}
.input_order{
    border: 1px solid var(--inputColor);
    color: var(--textDard);
    font-size: 13px;
    font-family: AxiformaRegular;
    width: 100%;
    max-width: 150px;
    border-radius: 5px;
    height: 42px;
    padding: 0 10px;
}


/* @media(max-width: 1890px) and (min-width: 1024px) {
    .main_container{
        flex-direction: column;
    }
    .filters_wrapper{
        width: 100%;
        max-width: 100%;
    }
} */