.sections {
    width: 100%;
    background-color: #F5F5F5;
    height: calc(100vh - 100px);

}

.sections_edit {
    width: 100%;
    /* background-color: #F5F5F5;
    height: calc(100vh - 100px); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container_edit {
    max-width: 900px;
    flex-direction: column;
    padding: 40px 0;
    width: 90%;
    margin: auto;
}

.main_container {
    flex-direction: column;
    padding: 40px 0;
    width: 90%;
    margin: auto;
}

.head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
}

.title {
    font-size: 36px;
    text-align: center;
    font-family: AxiformaRegular;
    color: var(--textDard);
}

.add_merchant {
    display: flex;
    gap: 10px;
    justify-content: center;
    color: var(--textLight);
    background-color: var(--primaryColor);
    align-items: center;
    width: 222px;
    height: 58px;
    border-radius: 5px;
    text-decoration: none;
}

.link {
    font-family: AxiformaRegular;
    font-size: 14px;
}

.add_search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.search {
    height: 58px;
    padding: 0 10px;
    background-color: var(--textLight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 330px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.search_icons {
    color: var(--textLight);
}

.serach_box {
    height: 40px;
    width: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor);
}

.notification {
    font-size: 14px;
    font-family: AxiformaRegular;
    color: rgb(197, 48, 48);
}

.theme_btn_secondary {
    width: 100%;
    background-color: var(--textLight);
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--textDard);
    font-family: AxiformaMedium;
    text-decoration: none;
}

.closeBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}

.col_btn {
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    background-color: var(--primaryColor);
    color: var(--textLight);
    font-family: AxiformaRegular;
    font-size: 14px;
}

.data {
    height: 100%;
    min-height: 800px;
    max-height: 800px;
}