:root {
    --textHeadingWhite: #ffffff;
    --textHeadingBlack: #1f1f1f;
    --textDard: #000;
    --textLight: #fff;
    --primaryColor: #FF9400;
    --inputColor: #dcdcdc;
    --error: #FF0000;
    --transition03s: .3s all ease-in-out;
}

*,
html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

ul li {
    list-style: none;
}

.flex {
    display: flex;
}

.align_c {
    align-items: center;
}

.justify_c {
    justify-content: center;
}

.theme_input {
    border: 1px solid rgb(157 157 157 / 50%);
    border-radius: 5px;
    padding: 16px 20px;
    background-color: var(--textLight);
    color: var(--textHeadingBlack);
    font-family: AxiformaMedium;
    font-size: 16px;
}

.theme_input::placeholder {
    font-size: 16px;
    color: var(--inputColor);
    font-family: Axiformalight;
}

.theme_input:focus {
    border-color: var(--primaryColor);
}

.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("/public/images/error.svg");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

@font-face {
    font-family: AxiformaBlack;
    src: url(./assets/fonts/Axiforma-Black.ttf);
}

@font-face {
    font-family: AxiformaBold;
    src: url(./assets/fonts/Axiforma-Bold.ttf);
}

@font-face {
    font-family: AxiformaExtraBold;
    src: url(./assets/fonts/Axiforma-ExtraBold.ttf);
}

@font-face {
    font-family: AxiformaLight;
    src: url(./assets/fonts/Axiforma-Light.ttf);
}

@font-face {
    font-family: AxiformaMedium;
    src: url(./assets/fonts/Axiforma-Medium.ttf);
}

@font-face {
    font-family: AxiformaRegular;
    src: url(./assets/fonts/Axiforma-Regular.ttf);
}

@font-face {
    font-family: AxiformaSemiBold;
    src: url(./assets/fonts/Axiforma-SemiBold.ttf);
}

@font-face {
    font-family: AxiformaThin;
    src: url(./assets/fonts/Axiforma-Thin.ttf);
}



/* //main container */
.main_content {
    width: 100%;
    height: auto;
}

/* //sidebar */

.sidebar {
    width: 20%;
    max-width: 290px;
    height: 100vh;
    /* background: #f0f0f0; */
}

.sidebar_logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar_menu {
    height: calc(100% - 100px);
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img.sidebar_icons {
    height: 20px;
    width: 20px;
}

span.sidebar_link {
    font-size: 16px;
    font-family: AxiformaRegular;
    color: var(--textDard);
}

.menu_item_wrapper:hover span.sidebar_link,
.menu_item_wrapper.active span.sidebar_link {
    color: var(--textLight);
}

.menu_links:not(:last-child) {
    margin-bottom: 5px;
}

.menu_item_wrapper {
    display: flex;
    height: 56px;
    gap: 15px;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    transition: var(--transition03s);
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: var(--textLight);
}

.menu_item_wrapper:hover {
    background: var(--primaryColor);
    transition: var(--transition03s)
}

a.menu_item_wrapper.active {
    background-color: var(--primaryColor);

}


/* //navbar */
.navBar {
    height: 100px;
    width: 100%;
    justify-content: flex-end;
    padding: 35px;
}

.display_name {
    font-size: 18px;
    font-family: AxiformaMedium;
    color: var(--textHeadingBlack);
}

.navBar_content {
    gap: 20px;
}

.avatar {
    width: 55px;
    height: 55px;
    background-color: var(--primaryColor);
    color: var(--textDard);
    font-size: 26px;
    font-family: AxiformaMedium;
    border-radius: 50%;
}


/* override */
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: none!important;
}

/* //ALERT  */
.alert.alert-dismissible {
    position: fixed;
    background: #ff9400;
    height: 60px;
    box-shadow: -5px 3px 9px 9px #00000012;
    top: 10px;
    color: #fff;
    right: 50%;
    transform: translateX(50%);
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

button.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border: navajowhite;
}