:root {
    --textHeadingWhite: #ffffff;
    --textHeadingBlack: #1f1f1f;
    --textDard: #000;
    --textLight: #fff;
    --primaryColor: #FF9400;
    --inputColor: #dcdcdc;
    --error: #FF0000;
    --transition03s: .3s all ease-in-out;
}

*,
html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

ul li {
    list-style: none;
}

.flex {
    display: flex;
}

.align_c {
    align-items: center;
}

.justify_c {
    justify-content: center;
}

.theme_input {
    border: 1px solid rgb(157 157 157 / 50%);
    border-radius: 5px;
    padding: 16px 20px;
    background-color: var(--textLight);
    color: var(--textHeadingBlack);
    font-family: AxiformaMedium;
    font-size: 16px;
}

.theme_input::placeholder {
    font-size: 16px;
    color: var(--inputColor);
    font-family: Axiformalight;
}

.theme_input:focus {
    border-color: var(--primaryColor);
}

.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("/public/images/error.svg");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

@font-face {
    font-family: AxiformaBlack;
    src: url(./assets/fonts/Axiforma-Black.ttf);
}

@font-face {
    font-family: AxiformaBold;
    src: url(./assets/fonts/Axiforma-Bold.ttf);
}

@font-face {
    font-family: AxiformaExtraBold;
    src: url(./assets/fonts/Axiforma-ExtraBold.ttf);
}

@font-face {
    font-family: AxiformaLight;
    src: url(./assets/fonts/Axiforma-Light.ttf);
}

@font-face {
    font-family: AxiformaMedium;
    src: url(./assets/fonts/Axiforma-Medium.ttf);
}

@font-face {
    font-family: AxiformaRegular;
    src: url(./assets/fonts/Axiforma-Regular.ttf);
}

@font-face {
    font-family: AxiformaSemiBold;
    src: url(./assets/fonts/Axiforma-SemiBold.ttf);
}

@font-face {
    font-family: AxiformaThin;
    src: url(./assets/fonts/Axiforma-Thin.ttf);
}



/* //main container */
.main_content {
    width: 100%;
    height: auto;
}


/* override */
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: none!important;
}

/* //ALERT  */
.alert.alert-dismissible {
    position: fixed;
    background: var(--textHeadingWhite);
    height: 60px;
    box-shadow: -5px 3px 9px 9px #00000012;
    top: 10px;
    right: 50%;
    padding: 30px;
    transform: translateX(50%);
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 15px;
    font-family: AxiformaRegular;
}
.alert-success{
    color: var(--textDard);
}   
.alert-danger{
    color: var(--error);
}
button.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border: navajowhite;
}